@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>Why you should Date Randen Grimshaw</h1>

<div>
	<p>Get a load of this hunk!</p>
	<img src="~/evilhilton.jpg" />
</div>

<div>
    <br />
    <a asp-controller="Home" asp-action="DatingApplication">Fill out an application to date me</a>
</div>
