@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
	<img src="~/evilhilton.jpg" />
</div>

<div>
    <br />
    <p>Would you like to add to the Joel Hilton Film Collection? Fill out a form below!</p>
    <a asp-controller="Home" asp-action="MovieForm">Add movie to collection</a>
</div>

<div>
    <br />
    <p>Want to know more about the man behind the collection? </p>
    <a asp-controller="Home" asp-action="KnowJoel">Learn more about Joel</a>
</div>

<div>
    <a asp-controller="Home" asp-action="Waitlist">View waitlist</a>
</div>
