@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Get to Know Joel";
}

<div>
    <h2>Stand Up Comedy</h2>
    <p>Joel also does stand up at a local Comedy Club regularly! If you would like to know more, please visit 
        the Quick Wits Comedy website below.
    </p>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <br />
    <br />

</div>

<div>
    <h2>Joel's Podcast</h2>
    <p>Joel also does a podcast. Give it a listen below!</p>

    <a href="https://baconsale.com/">
        <img src="~/baconsalekate.jpg" alt="Baconsale" style="width: 400px; height: auto;"/>
    </a>

    <br />
    <br />

    <a href="https://baconsale.com/">BaconSale Podcast</a>
</div>